.container { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 24px;
  flex: 1;
}

.header{ 
  display: flex;
  justify-content: center;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-color: var(--main-border-color);
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  gap: 16px;
}

.input  { 
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 2em;
  flex-direction: column;
}